# SPDX-License-Identifier: GPL-2.0
# Copyright (c) 2015-2019, Intel Corporation.

config RPMB
	tristate "RPMB partition interface"
	help
	  Unified RPMB partition interface for RPMB capable devices such as
          eMMC and UFS. Provides interface for in kernel security controllers to
	  access RPMB partition.

	  If unsure, select N.

config RPMB_INTF_DEV
	bool "RPMB character device interface /dev/rpmbN"
	depends on RPMB
	help
	  Say yes here if you want to access RPMB from user space
	  via character device interface /dev/rpmb%d

config VIRTIO_RPMB
	tristate "Virtio RPMB driver"
	default n
	depends on VIRTIO
	select RPMB
	help
	  Say yes here if you have a Virtio aware RPMB device or want to use
          RPMB from a Virtual Machine images.
	  This device interface is only for guest/frontend virtio driver.
